






h1
{
    text-align: center;
    padding-left: 50px;
    color: rgb(217, 69, 104);
}
h4
{
    text-align: center;
    padding-right: 50px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

table
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}